<div class="row">
  <%= link "← Všetky ponuky", to: job_path(@conn, :index), class: "link" %>
  <%= link "Viac ponúk v #{@job.category.lokal} →", to: category_path(@conn, :show, @job.category.permalink), class: "link" %>
</div>

<%= render "job.html", job: @job %>