<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adam Gavlák">

    <title>Yak – <%= @view_module.title(@view_template, assigns) %>  </title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
    <link rel="icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
  </head>

  <body>
    <nav class="navigation" role="navigation" data-turbolinks-permanent>
      <div class="navigation__container">
        <div class="navigation__logo">
          <a href="/">
            <img src="<%= static_path(@conn, "/images/logo.svg") %>" alt="Logo Yaka">
            <h1>Yak</h1>
          </a>
        </div>
        
        <div class="navigation--row">
          <div class="navigation__search">
            Search
          </div>
          
          <ul class="navigation__list is-open">
            <li class="navigation__item">
              <%= link "Všetky ponuky", to: job_path(@conn, :index), class: "navigation__link" %>
            </li>
            <li class="navigation__item navigation__item--dropdown">
              Kategórie

              <ul class="dropdown">
                <%= for category <- Board.Category.Store.list do %>
                <li class="dropdown__item">
                  <%= link category.name, to: category_path(@conn, :show, category.permalink), class: "navigation__link" %>
                </li>
                <% end %>
              </ul>
            </li>
            <li class="navigation__item">
              <%= link "Pridaj ponuku", to: job_path(@conn, :new), class: "button button--primary" %>
            </li>
          </ul>
          
          <div class="navigation__mobile">
            Menu
          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>

      <%= render @view_module, @view_template, assigns %>

    </main> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>" data-turbolinks-eval="false"></script>
  </body>
</html>
