<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yak – <%= @view_module.title(@view_template, assigns) %>  </title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
  </head>

  <body>
    <header class="header" data-turbolinks-permanent>
        <nav role="navigation">
          <span class="logo">
            <a href="/" class="row">
              <img src="<%= static_path(@conn, "/images/logo.svg") %>" alt="Logo Yaka">
              <h1>Yak</h1>
            </a>
          </span>

          <ul class="menu">
            <li>
              <%= link "Všetky ponuky", to: job_path(@conn, :index) %>
            </li>
            <li>
              <div class="navtrigger">Kategórie</div>
              <hr>
              <ul class="navlist">
                <%= for category <- Board.Category.Store.list do %>
                <li><%= category.emoji %> <a href="#"><%= category.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <div class="mobile">
            <span>Menu</span>
            <button class="hamburger hamburger--elastic" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </nav>
    </header>
    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
