<section class="category">
  <div class="row row--middle category__row">
    <h2 class="category__header"><%= @category.name %></h2>
    
    <div class="category__job-count">
      <%= bend(Enum.count(@category.jobs), %{one: "ponuka", twotofor: "ponuky", more: "ponúk"}) %>
    </div>
  </div>

  <ul class="list--no-style">
    <%= for job <- @category.jobs do %>
      <%= link to: job_path(@conn, :show, job), class: "link job--link" do %>
      <li class="job">
        <div class="job__title <%= new_job?(job) %>"><%= job.title %></div>

        <div class="job__info">
          <div class="column">
            <span class="job__company"><%= job.company %></span>,&nbsp;
            <span class="job__location"><%= job.location %></span>
          </div>
          <div class="column">
            <span class="job__date"><%= Timex.format! job.inserted_at, "{D} {Mshort}" %></span>
          </div>
        </div>
      </li>
      <% end %> 
    <% end %>
    <%= if @category.jobs == [] do %>
      <li class="nothing">
        Zatiaľ tu nič nie je 😞
      </li>
    <% end %>
  </ul>
</section>