.navigation
  width 100%
  height 70px
  
  &__container
    max-width 1000px
    height 100%
    margin 0 auto
    padding 0 0.5em
    display flex
    justify-content space-between
    align-items center
    position relative
    
  &__list
    display none
    flex-flow column
    list-style none
    margin 0
    
    position absolute
    right 0
    top nav-height
    
  &__link, &__item--dropdown
    color color-main
    font-weight 600
    text-decoration none
    cursor pointer
    position relative
    top 0.05em
  
  &__link
    &:hover
      text-decoration underline

  &__logo
    height 32px 
    
  &__title
    font-size 1.2em
    text-decoration none
    text-transform uppercase
    margin 0 0 0 0.4em
    position relative
    top 0.075em
    line-height 1
    
  &__right
    display flex
    
  &__item
    padding 0 0.75em
    
    &:hover > .dropdown
      display block
  
.dropdown
  display none 
  padding 1em 0 0
  
  &__list
    list-style none
    padding 0.7em 1em
    background color-white
    
  &__item
    padding 0.3em 0
  
@media (min-width: 700px)
  .navigation
    &__list
      display flex
      
    &__item
      &--dropdown::before
        display none
        
    &__mobile
      display none
        
    &__list
      position relative
      top initial
      right initial
      flex-flow row
      
  .dropdown
    position absolute
    left 50%
    transform translateX(-50%)
    z-index 10
  
    &__list  
      box-shadow 0 2px 3px rgba(#000, 0.2)
    
    
    &::before
      content ' '
      width 1em
      height 1em
      display inline-block
      background #fff
      position absolute
      left 47.5%
      top 0.9em
      box-shadow -2px -1px 4px rgba(#000, 0.05)
      transform rotate(45deg) translateX(-50%)
      border-radius 4px
      z-index -100
